.use-basic-credit-btn {
  margin-left: 12px;
}

@media screen and (max-width: 640px) {
  .use-basic-credit-btn {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
}

a.use-basic-credit-btn.btn.btn-primary.btn-sm.nav-link {
  color: white;
}
